*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    color: hsl(210, 10%, 33%);

}

.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 5rem;
    margin-top: 5rem;
    padding: 5rem 20px;
    padding-right: 20px;  
}

.logo{
    margin: 0 14px 0;
}

.hero h1{
    font-size: 24px;
    padding: 20px 0;
}

.hero p{
    font-size: 15px;
    line-height: 1.5;
    max-width: 450px;
}

.hero-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.ios-btn{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    background-color: hsl(171, 66%, 44%);
    color: white;
    border: none;
    padding: 15px 60px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.mac-btn{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    background-color: hsl(233, 100%, 69%);
    color: white;
    border: none;
    padding: 15px 60px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.track{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5rem 20px;
}

p{
    color: hsl(201, 11%, 66%)
}

.features{
    text-align: center;
}

h5{
    font-size: 17px;
}

.access, .supercharge{
    text-align: center;
}
a


.showcase img {
    margin-top: 4rem;
}

.trusted_by {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 2rem;
}

.trusted_by img{
    max-width: fit-content;
}

.computer_image img {
    max-width: 20rem;
    margin-top: 3rem;
    padding: 0 2rem;
}

.multi-device {
  text-align: center;
  padding: 5rem 10px;
}

.multi-device h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.multi-device p {
  font-size: 15px;
  line-height: 1.5;
  max-width: 450px;
  margin: 0 auto 2rem;
}

.multi-device .ios-btn,
.multi-device .mac-btn {
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
}

.trusted_by {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 20px;
  gap: 2rem;
}

.trusted_by img {
  width: 120px;
  height: auto;
}

footer {
  background-color: hsl(0, 0%, 98%);
  text-align: center;
  padding: 4rem 20px;
}

footer img {
  width: 50px;
  margin-bottom: 2rem;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

footer ul li {
  margin: 10px 0;
  font-size: 14px;
  color: hsl(210, 10%, 33%);
}

footer i {
  margin: 0 10px;
  font-size: 24px;
  color: hsl(210, 10%, 33%);
}


@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 5rem 10%;
  }

  .hero h1 {
    font-size: 36px;
    padding: 0 0 20px;
  }

  .hero p {
    font-size: 18px;
    max-width: 600px;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
  }

  .track {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 5rem 10%;
  }

  .features, .access, .supercharge {
    text-align: left;
    padding: 0 10%;
  }

  .trusted_by {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 10%;
  }

  .trusted_by img {
    max-width: 120px;
  }

  .computer_image img {
    max-width: 30rem;
    margin: 0 auto;
    display: block;
  }
}